{template 'header'}
<div class="m">
	<div class="rows2_left f_l">
	<div class="left_box">		
	<div class="pos">&nbsp;当前位置: <a href="{DT_PATH}">首页</a> &raquo; <a href="{$MOD[linkurl]}">{$MOD[name]}</a> &raquo; {cat_pos($catid, ' &raquo; ')}</div>
		{if $childcat}
			<div class="left_head"><span class="f_r f_n"><a href="{$caturl}">更多..</a>&nbsp;&nbsp;</span><div>{$catname}</div></div>
			<div class="catlist catlist_pd"><!--{tag("moduleid=$moduleid&table=info_$moduleid&condition=status=3&catid=$catid&length=50&pagesize=8&order=".$MOD[order]."&datetype=3&template=list-info&target=_blank")}--></div>
			{loop $childcat $i $c}
				<div class="b8 c_b">&nbsp;</div>
				<div class="left_head"><span class="f_r f_n"><a href="{$MOD[linkurl]}{$c[linkurl]}">更多..</a>&nbsp;</span><div>{$c[catname]}</div></div>
				<div class="left_head"><!--{tag("moduleid=$moduleid&table=info_$moduleid&condition=status=3&catid=".$c[catid]."&length=50&pagesize=8&order=".$MOD[order]."&datetype=3&template=list-info&target=_blank")}--></div>
			{/loop}
		{else}
			<div class="catlist catlist_pd"><!--{tag("moduleid=$moduleid&table=info_$moduleid&catid=$catid&child=0&pagesize=".$MOD[pagesize]."&page=$page&showpage=1&order=".$MOD[order]."&datetype=3&template=list-info&target=_blank")}--></div>
		{/if}
	</div>
	</div>
	<div class="rows_nav f_l">&nbsp;</div>
	<div class="rows2_right f_l">
		<div class="box_head"><div>推荐信息</div></div>
		<div class="box_body thumb"><!--{tag("moduleid=$moduleid&table=info_$moduleid&catid=$catid&length=20&condition=status=3 and thumb!='' and level>0&pagesize=4&order=".$MOD[order]."&width=120&height=90&cols=2&template=thumb-table")}--></div>
		<div class="b8 c_b">&nbsp;</div>
		<div class="box_head">按分类浏览</div>
		<div class="box_body">
		<table width="100%" cellpadding="3">
		{loop $maincat $k $v}
		{if $k%2==0}<tr>{/if}
		<td><a href="{$MOD[linkurl]}{$v[linkurl]}">{$v[catname]}</a> <span class="f_gray px10">({$ITEMS[$v[catid]]})</span></td>
		{if $k%2==1}</tr>{/if}
		{/loop}
		</table>
		</div>
		<div class="b8 c_b">&nbsp;</div>
		<div class="box_head">按地区浏览</div>
		<div class="box_body">
		{php $mainarea = get_childarea(0, $AREA)}
		<table width="100%" cellpadding="3">
		{loop $mainarea $k $v}
		{if $k%4==0}<tr>{/if}
		<td><a href="{$MOD[linkurl]}{rewrite('search.php?areaid='.$v['areaid'])}">{$v[areaname]}</a></td>
		{if $k%4==3}</tr>{/if}
		{/loop}
		</table>
		</div>
		<div class="b8 c_b">&nbsp;</div>
		<div class="box_head">{$MOD[name]}搜索</div>
		<div class="box_body">
		<form action="{$MOD[linkurl]}search.php">
		<input type="text" size="25" name="kw"/> 
		<input type="submit" value="搜索" class="btn"/>
		<input type="button" value="高级" class="btn" onclick="window.location='{$MOD[linkurl]}search.php';"/>
		</form>
		</div>
	</div>
</div>
{template 'footer'}