{template 'header'}
<div class="m">
<div class="f_l" style="width:772px;">
	<div class="left_box">		
		<div class="pos">当前位置: <a href="{DT_PATH}">首页</a> &raquo; <a href="{$MOD[linkurl]}">{$MOD[name]}</a> &raquo; {cat_pos($catid, ' &raquo; ')}</div>
		<div class="category">
			<div><img src="{SKIN_PATH}image/arrow.gif" width="17" height="12" alt=""/> <strong>按行业浏览</strong></div>
			<table width="100%" cellpadding="3">
			{loop $maincat $k $v}
			{if $k%8==0}<tr>{/if}
			<td{if $v[catid]==$catid} class="f_b"{/if}><a href="{$MOD[linkurl]}{$v[linkurl]}">{set_style($v[catname],$v[style])}</a> <span class="f_gray px10">({$ITEMS[$v[catid]]})</span></td>
			{if $k%8==7}</tr>{/if}
			{/loop}
			</table>
		</div>
		<div class="fsearch">
			<form action="{$MOD[linkurl]}search.php" id="fsearch">
			<input type="hidden" name="catid" id="catid" value="{$catid}"/>
			<img src="{SKIN_PATH}image/arrow.gif" width="17" height="12" alt=""/> <strong>{$MOD[name]}搜索</strong>
			关键词 <input type="text" size="50" name="kw"/>&nbsp;
			<input type="checkbox" name="vip" id="vip" value="1" checked/> {VIP}&nbsp;
			<input type="checkbox" name="thumb" id="thumb" value="1"/> 有图&nbsp;
			<input type="submit" value="搜索" class="btn"/>
			<input type="button" value="高级" class="btn" onclick="window.location='{$MOD[linkurl]}search.php';"/>
			</form>
		</div>
		<div class="b10">&nbsp;</div>
		<div class="type">
		<a href="{$MOD[linkurl]}" class="type_1">全部</a>
		{loop $TYPE $k $v}
		<a href="{$MOD[linkurl]}{rewrite('index.php?typeid='.$k.'&catid='.$catid)}" class="type_2">{$v}</a>
		{/loop}
		</div>
		<div class="b10 c_b">&nbsp;</div>
		<form method="post">
		<div class="tool">
			<table>
			<tr height="30">
			<td width="20" align="center"><input type="checkbox" onclick="checkall(this.form);"/><td>
			<td>
				<input type="submit" value="对比选中" onclick="this.form.action='{$MOD[linkurl]}compare.php';"/>
			</td>
			<td align="right"><img src="{SKIN_PATH}image/arrow_down.gif" alt=""/> <a href="{$MOD[linkurl]}{rewrite('search.php?thumb=1&catid='.$catid)}">显示有图信息</a> <img src="{SKIN_PATH}image/arrow_down.gif" alt=""/> <a href="{$MOD[linkurl]}{rewrite('search.php?vip=1&catid='.$catid)}">显示{VIP}会员信息</a>&nbsp;</td>
			</tr>
			</table>
		</div>
		{if $page == 1}{load('ad_m'.$moduleid.'_c'.$catid.'.htm')}{/if}	
		<!--{tag("moduleid=$moduleid&table=sell&condition=status=3&catid=$catid&child=1&pagesize=".$MOD[pagesize]."&page=$page&showpage=1&datetype=5&order=".$MOD[order]."&template=list-sell")}-->
		<div class="tool">
			<table>
			<tr height="30">
			<td width="20" align="center">&nbsp;<td>
			<td>
				<input type="submit" value="对比选中" onclick="this.form.action='{$MOD[linkurl]}compare.php';"/>
			</td>
			<td align="right"><img src="{SKIN_PATH}image/arrow.gif" width="17" height="12" alt=""/> <a href="javascript:window.scrollTo(0,0);">返回顶部</a> <img src="{SKIN_PATH}image/arrow.gif" width="17" height="12" alt=""/> <a href="{$MOD[linkurl]}search.php">高级搜索</a>&nbsp;</td>
			</tr>
			</table>
		</div>
		</form>
		<br/>
	</div>
</div>
<div class="rows_nav f_l">&nbsp;</div>
<div class="f_l" style="width:180px;">
	<div class="box_head">赞助商链接</div>
	<div class="box_body">
		<div class="sponsor">{load('ad_15.htm')}</div>
	</div>
</div>
</div>
{template 'footer'}