{template 'header'}
<div class="m">
<div class="f_l" style="width:772px;">
	<div class="left_box">		
		<div class="pos">当前位置: <a href="{DT_PATH}">首页</a> &raquo; <a href="{$MOD[linkurl]}">{$MOD[name]}</a> &raquo; <a href="{$MOD[linkurl]}search.php">搜索</a></div>
		<div class="category">
			<div><img src="{SKIN_PATH}image/arrow.gif" width="17" height="12" alt=""/> <strong>按行业浏览</strong></div>
			<table width="100%" cellpadding="3">
			{loop $maincat $k $v}
			{if $k%8==0}<tr>{/if}
			<td{if $v[catid]==$catid} class="f_b"{/if}><a href="{$MOD[linkurl]}{$v[linkurl]}">{set_style($v[catname],$v[style])}</a> <span class="f_gray px10">({$ITEMS[$v[catid]]})</span></td>
			{if $k%8==7}</tr>{/if}
			{/loop}
			</table>
		</div>
		<div class="fsearch">
			<form action="{$MOD[linkurl]}search.php" id="fsearch">
			<table cellpadding="3" cellspacing="3">
			<tr>
			<td width="80" align="right">关 键 词：</td>
			<td colspan="3">
			<input type="text" size="60" name="kw" value="{$kw}"/>
			<input type="submit" value="搜索" class="btn"/>
			<input type="button" value="重置" class="btn" onclick="window.location='{$MOD[linkurl]}search.php';"/>
			</td>
			</tr>
			<tr>
			<td align="right">更新日期：</td>
			<td>{dcalendar('fromdate', $fromdate, '')} 至 {dcalendar('todate', $todate, '')}</td>
			<td align="right">所属行业：</td>
			<td>{$category_select}</td>
			</tr>
			<tr>
			<td align="right">信息类型：</td>
			<td>			
			{$type_select}&nbsp;
			<input type="checkbox" name="thumb" id="thumb" value="1"{if $thumb} checked{/if}/> 有图
			<input type="checkbox" name="vip" id="vip" value="1"{if $vip} checked{/if}/> {VIP}
			</td>
			<td align="right">所在地区：</td>
			<td>{$area_select}</td>
			</tr>
			<tr>
			<td align="right">单价范围：</td>
			<td colspan="3">
			<input type="text" size="10" name="minprice" value="{$minprice}"/> ~ <input type="text" size="10" name="maxprice" value="{$maxprice}"/></td>
			</tr>
			</table>
			</form>
		</div>
		{if $tags}
		<form method="post">
		<div class="tool">
			<table>
			<tr height="30">
			<td width="20" align="center" title="全选/反选"><input type="checkbox" onclick="checkall(this.form);"/><td>
			<td>
				<input type="submit" value="对比选中" onclick="this.form.action='{$MOD[linkurl]}compare.php';"/>
			</td>
			<td align="right"><img src="{SKIN_PATH}image/arrow_down.gif" alt=""/> <a href="javascript:$('thumb').value=1;$('fsearch').submit();">显示有图信息</a> <img src="{SKIN_PATH}image/arrow_down.gif" alt=""/> <a href="javascript:$('vip').value=1;$('fsearch').submit();">显示{VIP}会员信息</a>&nbsp;</td>
			</tr>
			</table>
		</div>
		{if $page==1 && $kw}{load('ad_m'.$moduleid.'_k'.urlencode($kw).'.htm')}{/if}
		{template 'list-sell', 'tag'}
		<div class="tool">
			<table>
			<tr height="30">
			<td width="20" align="center">&nbsp;<td>
			<td>
				<input type="submit" value="对比选中" onclick="this.form.action='{$MOD[linkurl]}compare.php';"/>
			</td>
			<td align="right"><img src="{SKIN_PATH}image/arrow.gif" width="17" height="12" alt=""/> <a href="javascript:window.scrollTo(0,0);">返回顶部</a> <img src="{SKIN_PATH}image/arrow.gif" width="17" height="12" alt=""/> <a href="{$MOD[linkurl]}search.php">重新查询</a>&nbsp;</td>
			</tr>
			</table>
		</div>
		</form>
		{else}
		{template 'noresult'}
		{/if}
	<br/>
	</div>
</div>
<div class="rows_nav f_l">&nbsp;</div>
<div class="f_l" style="width:180px;">
	<div class="box_head">赞助商链接</div>
	<div class="box_body">
		<div class="sponsor">{load('ad_15.htm')}</div>
	</div>
</div>
</div>
{if $kw}
<script type="text/javascript">
try{$('destoon_kw').value = '{$kw}';}catch(e){}
</script>
{/if}
{template 'footer'}