{if $user_status == 3}
<ul>
	<li class="f_b t_c" style="padding:3px 0 5px 0;font-size:16px;"><a href="{$member[linkurl]}" target="_blank">{$member[company]}</a></li>
	{if $member[vip]}
	<li class="f_orange" style="padding:5px 0 0 12px;"><img src="{SKIN_PATH}image/vip.gif"/> <img src="{SKIN_PATH}image/vip_{$member[vip]}.gif"/> [第{$member[year]}年] <a href="{$MODULE[2][linkurl]}favorite.php?action=add&amp;title={urlencode($member[company])}&amp;url={urlencode($member[linkurl])}" title="收藏此公司">[收藏]</a></li>
	{if $member[validated]}
	<li class="f_green" style="padding:5px 0 0 8px;">&nbsp;<img src="{SKIN_PATH}image/check_right.gif"/> 该企业资料已通过{$member[validator]}认证</li>
	{/if}
	{/if}
	<li style="padding-top:3px;"><span>联系人</span>{$member[truename]}({$member[gender]})&nbsp;{$member[career]}
		{if $member[msn]}&nbsp;<a href="msnim:chat?contact={$member[msn]}"><img src="{SKIN_PATH}image/msnchat.gif" width="25" height="17" title="点击MSN交谈/留言" alt=""/></a>{/if}
		{if $member[qq]}&nbsp;<a href="tencent://message/?uin={$member[qq]}&Site={$DT[sitename]}&Menu=yes"><img src="http://wpa.qq.com/pa?p=1:{$member[qq]}:17" width="25" height="17" title="点击QQ交谈/留言" alt=""/></a>{/if}</li>
	<li><span>会员</span> <a href="{$MODULE[2][linkurl]}friend.php?action=add&username={$username}">[加为商友]</a> <a href="{$MODULE[2][linkurl]}message.php?action=send&touser={$username}">[发送信件]</a></li>
	{if $member[mail]}<li><span>邮件</span><a href="mailto:{$member[mail]}">{$member[mail]}</a></li>{/if}
	{if $member[telephone]}<li><span>电话</span>{$member[telephone]}</li>{/if}
	{if $member[fax]}<li><span>传真</span>{$member[fax]}</li>{/if}
	<li><span>所在地</span>{area_pos($member[areaid], '&nbsp;')}</li>
	{if $member[address]}<li><span>地址</span>{$member[address]}</li>{/if}
	{if $member[postcode]}<li><span>邮编</span>{$member[postcode]}</li>{/if}
</ul>
{elseif $user_status == 2}
<ul>
<li class="px14 f_red f_b">&nbsp;直接联系卖家？ <a href="{$MODULE[2][linkurl]}vip.php">立即加入{VIP}</a></li>
<li>&nbsp;咨询热线：{$DT[telephone]}</li>
</ul>
{elseif $user_status == 1}
<ul>
<li>&nbsp;已经是会员？ <a href="{$MODULE[2][linkurl]}login.php">请立即登录</a></li>
<li>&nbsp;还不是会员？ <a href="{$MODULE[2][linkurl]}register.php">请点这里免费注册</a></li>
<li class="px14 f_red f_b">&nbsp;直接联系卖家？ <a href="{$MODULE[2][linkurl]}vip.php">立即加入{VIP}</a></li>
<li>&nbsp;咨询热线：{$DT[telephone]}</li>
</ul>
{else}
<br/>
<center>正在载入...</center>
<br/>
{/if}